.tab-2 header{
	.logo-primary{
		@include max-screen($phone){
			left: 50%;
			transform: translateX(-50%);
			-webkit-transform: translateX(-50%);
		}

	}
	.inner-container-heading{
		max-width: 178px;
		position: relative;
		top: 83px;
		p{
			margin: 0;
		}
		.banner-heading{
			font-size: 16px;
			letter-spacing: 0.05em;
		}
		.copy-sm{
			font-size: 13px;
			line-height: 18px;
			margin-bottom: 4px;
		}
		.copy-lrg{
			font-size: 50px;
			line-height: 48px;
			text-transform: uppercase;
			font-weight: 900;
		}
		.copy-med{
			font-size: 30px;
			line-height: 30px;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.02em;
		}
		@include max-screen($phone){
			max-width: none;
			width: 100%;
		}
	}
	.wrapper{
		padding: 0 20px;
		height: 261px;
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		@include max-screen($phone){
			padding: 0 10px;
		}
	}
}
.row-no-bg{
	padding: 23px 0 22px;
	p{
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
	}
}
.tab-2{
	header img{
		width: auto;
		max-width: none;
		display: inline-block;
	}
	header{
		overflow: hidden;
	}
	.banner-container{
		text-align: center;	
		height: 261px;
		overflow: hidden;
	}

}
.toggle{
	cursor: pointer;
	background-image:url('../images/recipe_tab_closed.jpg');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	.open{
		display: block;
	    padding-left: 1px;
	    font-size: 24px;
	    font-weight: 700;
	    line-height: 17px;
	}
	.close{
		display:none;
	}
	&.spanish-rice{
		background-image:url('../images/recipe_tab_closed2.jpg');
	}
	@include max-screen($phone){
		background-image:none;
	}

}
.spanish-rice{
	.toggle{
		background-image:url('../images/recipe_tab_closed2.jpg');
		@include max-screen($phone){
			background-image: none;
		}
	}
	.toggle-open{
		background-image: none;
	}
}
.toggle-open{
	.open{
		display:none;
	}
	.close{
		display: block;
	}
	background-image: none;
}
.toggle-container{
	display:none;
	min-height: 669px;
}

.toggle-icon{
	position: absolute;
	display: flex;
  	align-items: center;
  	height: 100%;
  	top: 0;
  	left:40px;
	span{
	    width: 26px;
	    height: 26px;
	    font-size: 43px;
	    text-align: center;
	    border: 3px solid #000;
	    border-radius: 50%;
	    display: block;
	    font-weight: 100;
	    padding: 0px 0 0 0px;
	    color: #000;
	    line-height: 16px;
	    vertical-align: top;
	}
	@include max-screen(800px){
		left: 20px;
	}
	@include max-screen($phone){
		left: 10px;
	}
}
.recipe-container{
	max-width: 810px;
	margin: 0 auto 16px;
	.row-green{
		margin-bottom: 0;
		color: #f9f3e7;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		position:relative;
		padding: 6px 0;
		@include max-screen($phone){
			font-size:15px;
		}
		.wrapper{
			padding-left: 31%;
			@include max-screen($small){
				padding-left: 15%;
				padding-right: 5px;
			}

		}
		p{
			margin:0;
			background: $color-brand;
			padding: 6px;
		}

	}
	h3{
		margin: 0;
		font-size: 14px;
		line-height: 18px;
		color: $color-brand;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 0.05em;
	}
	.img-container{
		position: absolute;
		z-index:1;
	}
	.col-2{
		font-size: 0;
		.inner-col{
			width: 50%;
			display: inline-block;
			vertical-align: top;
			&:last-child{
				padding-left: 35px;
				@include max-screen($small){
					padding-left: 0;
				}
			}
			@include max-screen($small){
				width:100%;
			}
		}
	}
	.inner-container{
		position: relative;
		z-index: 2;
		margin-left: 29%;
		padding-left: 38px;
		background: url("../images/bg_pattern.jpg") repeat;
		padding-top: 14px;
		ul,
		ol{
			padding: 0;
			font-size: 12px;
			line-height: 18px;
			font-weight: 700;
			margin-top: 0;
			padding-bottom: 6px;
		}
		p{
			font-weight: 700;
			font-style: italic;
			font-size: 12px;
			line-height: 18px;
			margin-top: 0;
			padding-bottom: 10px;
		}
		@include max-screen($phone){
				margin-left: 10%;
				padding-left:22px;
			}
	}
}
